<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burger App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
</head>
<body>
    <div class="container"> 
        <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Burgers Online</h1>
    <img src="https://lh3.googleusercontent.com/proxy/M8kPVgozs5grq3yn2mcTO61OA9c5FqMa0btoAvZi5bZuyzMFX3ooU02obMiW1OPRW8QWe_KqppI_hgWhaedsSvs52cH2iq-eMUlsyVXdKNkjnZuSOfNA3y2mvTkMgOwBGRcL07OiPeUO7Y5FkpbHMOz8E5vTPIX_BoqEexs"/>
  </div>
</div>
        {{{ body }}}

        <form action="/" method="POST">
            <div class="mb-3">
                <label for="burgerInput" class="form-label">Enter Your Favourite Burger</label>
                <input class="form-control" name="burger" id="burgerInput" placeholder="Cheese Burger">
            </div>
            <button class="btn btn-lg btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>