  
        <div class="row">
            <div class="col">
                <!-- available  -->
                <h3 style="color: blue;">Burgers Available</h3>
                {{#each available}}
                <div class="btn-toolbar mb-3">
                    <div class="input-group-text">{{burger_name}}</div>

                    <div>
                        <a href="/devour/{{id}}" class="btn btn-secondary">Devour-It!</a>
                    </div>
                    
                </div>
                {{/each}}
            </div>
            <div class="col">
                <!-- devoured burgers -->
                <h3 style="color: red;">Burgers Eaten</h3>
                {{#each devoured}}
                <div class="alert alert-secondary">
                    {{burger_name}}
                </div>
                {{/each}}
            </div>
        </div>